<div>
    <p>Signal Data Files</p>
    <ol>
        <li>
            Import (or paste) the results file. Data must include a column that has the signal data filename (case-sensitive).
            <br/><a class="signaldata-upload-templatelink labkey-text-link">Download Spreadsheet Template</a><br/>
        </li>
        <li>
            Enter Run-level data and import the relevant signal data files.
        </li>
    </ol>
    <div class="signaldata-upload-target">
        <table>
            <tr>
                <td class="labkey-form-label">Upload Type</td>
                <td>
                    <input type="radio" name="uploadType" value="paste"  onchange="LABKEY.SignalData.disableFileUpload()">Cut/Paste<br/>
                    <input type="radio" name="uploadType" value="file" checked="checked" onchange="LABKEY.SignalData.enableFileUpload()">File
                </td>
            </tr><tr>
            <td class="labkey-form-label">Upload</td>
            <td>
                <div class="signaldata-upload-file" />
                <div class="signaldata-upload-tsv" />
        </tr>
            <tr>
                <td/>
                <td>
                    <div class="signaldata-upload-button"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="signaldata-upload-result-files"/>
</div>


<script type="application/javascript">
    (function($) {
        var context = <%=webpartContext%>;
        var metadataFormElId = LABKEY.Utils.generateUUID();
        var metadataFileId = LABKEY.Utils.generateUUID();
        var metadataTSVId = LABKEY.Utils.generateUUID();
        var buttonId = LABKEY.Utils.generateUUID();
        var fileUploadElementId = LABKEY.Utils.generateUUID();
        var templateDivId = LABKEY.Utils.generateUUID();

        $('#' + context.wrapperDivId + ' .signaldata-upload-target').attr('id', metadataFormElId);
        $('#' + context.wrapperDivId + ' .signaldata-upload-file').attr('id', metadataFileId);
        $('#' + context.wrapperDivId + ' .signaldata-upload-tsv').attr('id', metadataTSVId);
        $('#' + context.wrapperDivId + ' .signaldata-upload-button').attr('id', buttonId);
        $('#' + context.wrapperDivId + ' .signaldata-upload-result-files').attr('id', fileUploadElementId);
        $('#' + context.wrapperDivId + ' .signaldata-upload-templatelink').attr('id', templateDivId);

        LABKEY.SignalData.initializeUploadForm(metadataFormElId, metadataFileId, metadataTSVId, buttonId, fileUploadElementId, templateDivId);

    })(jQuery);
</script>